<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

<h2><p style="word-spacing: 100px">LOGO  <a href="http://127.0.0.1:8000/Zapisy/">ZAPISY</a>  <a href="http://127.0.0.1:8000/Lekarze/">LEKARZE</a>
  <a href="http://127.0.0.1:8000/Przychodnia/">PRZYCHODNIA</a> <a href="http://127.0.0.1:8000/Kontakt/">KONTAKT</a> <a href="http://127.0.0.1:8000/">HOME</a></p></h2>
<div style="clear:both"></div>
<div style="width:200px; float:left"></div>





  </div>

  <div style="width:700; float:left">
    {% block produkt %}

    {% endblock produkt %}
  </div>
  <div style="clear:both"></div>
</body>
</html>
