<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'Home.html' %}

 {% block produkt %}
<span style="font-size: 14pt; font-weight: 500; font-style: normal; color:red;"><span class="s1" style="font-family: Montserrat;">„Twój Lekarz” – to ochrona zdrowia w najbliższej okolicy, po sąsiedzku. Od 2003 roku tworzymy sieć nowoczesnych przychodni medycznych w gminie Kobierzyce i we Wrocławiu. Zapewniamy podstawową i specjalistyczną opiekę zdrowotną, zarówno w ramach kontraktu z NFZ, jak i prywatnie. <strong>Zależy nam na Państwa satysfakcji.</strong></span></span>
ZAPISY

 {% endblock produkt %}
</body>
</html>
